{% extends '@BookRaterRater/base.html.twig' %}

{% block sidebar %}
    <div class="list-group">
        <div class="list-group-item list-group-item-info">Find Stuff</div>
        <a href="{{ path('bookrater_book_list') }}" class="list-group-item list-group-item-action">Search Books<i class="fa fa-search pull-right"></i></a>
        <a href="{{ path('bookrater_author_list') }}" class="list-group-item list-group-item-action">Search Authors<i class="fa fa-search pull-right"></i></a>
        <a href="{{ path('bookrater_review_list') }}" class="list-group-item list-group-item-action">Search Reviews<i class="fa fa-search pull-right"></i></a>
    </div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="list-group">
            <div class="list-group-item list-group-item-info">New Stuff</div>
            <a href="{{ path('bookrater_book_create') }}" class="list-group-item list-group-item-action">Add Book<i class="fa fa-plus-circle pull-right"></i></a>
            <a href="{{ path('bookrater_author_create') }}" class="list-group-item list-group-item-action">Add Author<i class="fa fa-plus-circle pull-right"></i></a>
            <a href="{{ path('bookrater_review_create') }}" class="list-group-item list-group-item-action">Add Review<i class="fa fa-plus-circle pull-right"></i></a>
        </div>
    {% endif %}
{% endblock %}