{% extends "@BookRaterRater/layout.html.twig" %}

{% block title %}Edit {{ author.lastName }}, {{ author.firstName }}{% endblock %}
{% block header %}Edit {{ author.lastName }}, {{ author.firstName }}{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-group row">
        <div class="col-md-5">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.initial) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.lastName) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}