{% extends "@BookRaterRater/list.html.twig" %}

{% block title %}Authors{% endblock %}
{% block header %}Authors{% endblock %}

{% block body %}
    {% set placeholder = 'First/Last name...' %}
    {% set route = 'bookrater_author_list' %}
    {% block list_control %}{{ parent() }}{% endblock list_control %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Link</th>
            <th>{{ knp_pagination_sortable(pagination, 'Last Name', 'author.lastName') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Initial', 'author.initial') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'First Name', 'author.firstName') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for author in pagination %}
            <tr>
                <td>
                    <a href="{{ path('bookrater_author_view', {
                        'lastName': author.lastName,
                        'firstName': author.firstName,
                    }) }}">{{ author }}</a>
                </td>
                <td>{{ author.lastName }}</td>
                <td>{{ author.initial }}</td>
                <td>{{ author.firstName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% block pagination_bottom %}{{ parent() }}{% endblock pagination_bottom %}
{% endblock %}