{% extends "BookRaterRaterBundle::layout.html.twig" %}

{% block title %}{{ author.displayName }}{% endblock %}
{% block body %}
    <section class="well well-sm">
        <header>
            <h2>{{ author.displayName }}</h2>
            <a href="{{ path('bookrater_author_edit', {'id': author.id }) }}" class="btn btn-primary">Edit</a>
        </header>
    </section>
    <section class="well well-sm">
        <header><h3>Books Authored</h3></header>
        <ul>
            {% if author.booksAuthored is not empty %}
                {% for book in author.booksAuthored %}
                    <li><a href="{{ path('bookrater_book_view', {'id': book.id }) }}">{{ book.title }}</a></li>
                {%  endfor %}
            {% else %}
                <p>No books authored!</p>
            {% endif %}
        </ul>
    </section>
    <p>
    </p>
{% endblock %}