{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.publisher) }}
<div class="form-group row">
    <div class="col-md-6">
        {{ form_row(form.isbn) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.isbn13) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        {{ form_row(form.authors) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.publishDate) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.edition) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.edition) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.description) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        {{ form_widget(form.submit, { 'label': submitText }) }}
    </div>
</div>
{{ form_end(form) }}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}