<section class="card bg-light">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <section class="card-body">
        <div class="card-text">{{ form_row(form.title) }}</div>
        <div class="card-text">{{ form_row(form.publisher) }}</div>
        <div class="card-block">
            <div class="row justify-content-between">
                <div class="col-4">{{ form_row(form.isbn) }}</div>
                <div class="col-4">{{ form_row(form.isbn13) }}</div>
            </div>
        </div>
        <div class="card-block">
            <div class="row justify-content-between">
                <div class="col-md-6">{{ form_row(form.authors) }}</div>
                <div class="col-md-4">{{ form_row(form.publishDate) }}</div>
                <div class="col-md-2">{{ form_row(form.edition) }}</div>
            </div>
            <div class="card-text">{{ form_row(form.edition) }}</div>
            <div class="card-text">{{ form_row(form.description) }}</div>
        </div>
    </section>
    <footer class="card-footer">
        <div class="card-text">{{ form_widget(form.submit, { 'label': submitText }) }}</div>
        {{ form_end(form) }}
    </footer>
</section>
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}
