{% extends 'BookRaterRaterBundle::layout.html.twig' %}

{% block title %}Create Book{% endblock %}

{% block javascript %}
    {% javascripts
    'https://code.jquery.com/jquery-3.2.1.slim.min.js'
    'https://use.fontawesome.com/fca4c72f10.js'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %}
    <script type="text/javascript" src="{{ asset_url }} "></script>
    {% endjavascripts %}
{% endblock %}
{% block header %}Add Book{% endblock %}
{% block body %}
    {#{{ form(form) }}#}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.publisher) }}
    <div class="form-group row">
        <div class="col-md-6">
            {{ form_row(form.isbn) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.isbn13) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form_row(form.authors) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.publishDate) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.edition) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}