{% extends "@BookRaterRater/list.html.twig" %}

{% block title %}Books{% endblock %}
{% block header %}Books{% endblock %}

{% block body %}
    {% set placeholder = 'Title/Author...' %}
    {% set route = 'bookrater_book_list' %}
    {% block list_control %}{{ parent() }}{% endblock list_control %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="align-middle">{{ knp_pagination_sortable(pagination, 'Title', 'book.title') }}</th>
            <th class="align-middle">Authors</th>
            <th class="align-middle">{{ knp_pagination_sortable(pagination, 'Edition', 'book.edition') }}</th>
            <th class="align-middle">{{ knp_pagination_sortable(pagination, 'Publisher', 'book.publisher') }}</th>
            <th class="align-middle">{{ knp_pagination_sortable(pagination, 'Published', 'book.publishDate') }}</th>
            <th class="align-middle">
                {{ knp_pagination_sortable(pagination, 'Rating', 'book.averageRating') }}
                (<i class="fa fa-star gold"></i> / 5)
            </th>
            <th class="align-middle">
                {{ knp_pagination_sortable(pagination, 'Rating (Google Books)', 'book.googleBooksRating') }}<br/>
                (<i class="fa fa-star gold"></i> / 5)
            </th>
        </tr>
        </thead>
        <tbody>
        {% for book in pagination %}
            <tr>
                <td>
                    <a href="{{ path('bookrater_book_view', {'title': book.title}) }}">
                        {% if book.title|length > 30 %}
                            {{ book.title | slice(0,30) ~ '...' }}
                        {% else %}
                            {{ book.title }}
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if book.authors is not empty %}
                        {{ book.authors|join('; ') }}
                    {% endif %}
                </td>
                <td>
                    {% if (book.edition) %}{{ book.displayEdition -}}{% endif %}
                </td>
                <td>{{ book.publisher }}</td>
                <td>{% if (book.publishDate) %} {{ book.publishDate|date('d-m-Y') }}{% endif %}</td>
                <td>
                    {% if book.averageRating is null %}
                        Not yet rated!
                    {% else %}
                        {% set rating = book.averageRating|number_format %}
                        {% for i in 1..rating %}
                            <i class="fa fa-star gold"></i>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if book.googleBooksRating is null %}
                        Not rated!
                    {% else %}
                        {% set rating = book.googleBooksRating|number_format %}
                        {% for i in 1..rating %}
                            <i class="fa fa-star gold"></i>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% block pagination_bottom %}{{ parent() }}{% endblock pagination_bottom %}
{% endblock %}
