{% extends "@BookRaterRater/list.html.twig" %}

{% block title %}Books{% endblock %}
{% block header %}Books{% endblock %}

{% block body %}
    {% set placeholder = 'Title/Author...' %}
    {% set route = 'bookrater_book_list' %}
    {% block list_control %}{{ parent() }}{% endblock list_control %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Title', 'book.title') }}</th>
            <th>Authors</th>
            <th>{{ knp_pagination_sortable(pagination, 'Edition', 'book.edition') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Publisher', 'book.publisher') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Published', 'book.publishDate') }}</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for book in pagination %}
            <tr>
                <td>
                    <a href="{{ path('bookrater_book_view', {'title': book.title}) }}">
                        {% if book.title|length > 30 %}
                            {{ book.title | slice(0,30) ~ '...' }}
                        {% else %}
                            {{ book.title }}
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if book.authors is not empty %}
                        {{ book.authors|join('; ') }}
                    {% endif %}
                </td>
                <td>
                    {% if (book.edition) %}{{ book.displayEdition -}}{% endif %}
                </td>
                <td>{{ book.publisher }}</td>
                <td>{% if (book.publishDate) %} {{ book.publishDate|date('d-m-Y') }}{% endif %}</td>
                <td>
                    {% if book.averageRating is null %}
                        Not yet rated!
                    {% else %}
                        {% set rating = book.averageRating|number_format %}
                        {{ rating }} / 5
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% block pagination_bottom %}{{ parent() }}{% endblock pagination_bottom %}
{% endblock %}