{% extends "BookRaterRaterBundle::layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}
{% block header %}{{ book.title }}{% endblock %}
{% block body %}
    <section class="well well-sm">
        <header>
            <h4>
                {% if book.authors is not empty %}
                    {% set count = book.authors.count %}
                    {{ book.authors[0] -}}
                    {% for author in book.authors|slice(1, count - 1) if count > 1 %}
                        {{- '; ' }}{{ author -}}
                    {% endfor %}
                {% endif %}
            </h4>
        </header>
        <p>
            {% if (book.edition) %} {# - necessary on both sides to remove whitespace between tags #}
                {{ book.edition -}} {# -}} remove trailing whitespace between twig tags #}
                {{- '' -}}
                {% if book.edition == 1 %}
                    {{- 'st' }} {# {{- remove leading whitespace between twig tags #}
                {% elseif book.edition == 2 %}
                    {{- 'nd' }}
                {% elseif book.edition == 3 %}
                    {{- 'rd' }}
                {% else %}
                    {{- 'th' }}
                {% endif %}
                {{ 'Edition' -}}
            {% endif %}
            {{- '' -}}
            {% if (book.publishDate) %}, {{ book.publishDate|date('d-m-Y') }}{% endif %}
        </p>
        {# need other book attributes #}
        <a href="{{ path('bookrater_book_edit', {'id': book.id }) }}" class="btn btn-primary">Edit</a>
    </section>
    <section class="well well-sm">
        <header>
            <h3>Reviews</h3>
            {% if book.reviews is not empty %}
                <ul>
                    {% for item in book.reviews %}
                        <li>
                            <a href="{{ path('bookrater_review_view', {'id': item.id }) }}">{{ item.reviewTitle }}</a>
                            <small>{{ item.user }} - {{ item.created|date('d-m-Y') }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No reviews yet!</p>
            {% endif %}
        </header>
    </section>
{% endblock %}