{% extends "BookRaterRaterBundle::layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}
{% block header %}{{ book.title }}{% endblock %}
{% block body %}
    <section class="well well-sm">
        <header>
            <h4 class="h4">
                {% if book.authors is not empty %}
                    {{ book.authors|join('; ') }}
                {% endif %}
            </h4>
        </header>
        <p>
            {% if (book.edition) %}
                {{ book.displayEdition -}}
            {% endif %}
            {{- '' -}}
            {% if (book.publishDate) %}{% if (book.edition) %}{{- ', ' }}{% endif %}{{ book.publishDate|date('d-m-Y') }}{% endif %}
        </p>
        <p>
            <strong>Rating:</strong>
            {% if book.averageRating is null %}
                Not yet rated!
            {% else %}
                {% set rating = book.averageRating|number_format %}
                {% for i in 1..5 %}
                    {% if i <= rating %}
                        <i class="fa fa-star gold"></i>
                    {% else %}
                        <i class="fa fa-star-o gold"></i>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <a href="{{ path('bookrater_book_edit', {'id': book.id }) }}" class="btn btn-primary">Edit</a>
    </section>
    <section class="well well-sm">
        <header>
            <h3 class="h3">Reviews</h3>
            {% if book.reviews is not empty %}
                <ul>
                    {% for item in book.reviews %}
                        <li>
                            <a href="{{ path('bookrater_review_view', {'id': item.id }) }}">{{ item.title }}</a>
                            - {{ item.rating }} / 5 <i class="fa fa-star gold"></i> -
                            <small>{{ item.user }} - {{ item.created|date('d-m-Y') }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No reviews yet!</p>
            {% endif %}
        </header>
    </section>
{% endblock %}