{% extends "BookRaterRaterBundle::layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}
{% block header %}{{ book.title }}{% endblock %}
{% block body %}
    <section class="well well-sm">
        <header>
            <h4 class="h4">
                {% if book.authors is not empty %}{{ book.displayAuthors }}{% endif %}
            </h4>
        </header>
        <p>
            {% if (book.edition) %}{{ book.displayEdition -}}{% endif %}
            {{- '' -}}
            {% if (book.publishDate) %}, {{ book.publishDate|date('d-m-Y') }}{% endif %}
        </p>
        <a href="{{ path('bookrater_book_edit', {'id': book.id }) }}" class="btn btn-primary">Edit</a>
    </section>
    <section class="well well-sm">
        <header>
            <h3 class="h3">Reviews</h3>
            {% if book.reviews is not empty %}
                <ul>
                    {% for item in book.reviews %}
                        <li>
                            <a href="{{ path('bookrater_review_view', {'id': item.id }) }}">{{ item.reviewTitle }}</a>
                            <small>{{ item.user }} - {{ item.created|date('d-m-Y') }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No reviews yet!</p>
            {% endif %}
        </header>
    </section>
{% endblock %}