{% extends "BookRaterRaterBundle::layout.html.twig" %}

{% block title %}Write Review{% endblock %}

{% block header %}Add New Review{% endblock %}
{% block body %}
{{ form_start(form) }}
    <div class="form-group row">
        <div class="col-md-10">
            {{ form_row(form.bookReviewed) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.rating) }}
        </div>
    </div>
    {{ form_row(form.reviewComments) }}
    {{ form_end(form) }}
{% endblock %}
