{# used in show, list and homepage #}
<article class="well well-sm">
    <header>
        <h2 class="h2">
            <a href="{{ path('bookrater_review_view', {'id' : review.id }) }}">
                {{ review.title | title }}
            </a>
        </h2>
    </header>
    <p>Book:
        <a href="{{ path('bookrater_book_view', {'title' : review.book.title }) }}">
            {{ review.book.title| title }}
        </a>
    </p>
    <p>
        <strong>Rating:</strong>
        {% set rating = review.rating|number_format %}
        {% for i in 1..5 %}
            {% if i <= rating %}
                <i class="fa fa-star" style="color: gold"></i>
            {% else %}
                <i class="fa fa-star-o" style="color: gold"></i>
            {% endif %}
        {% endfor %}
    </p>
    <p>{{ review.comments| nl2br }}</p>
    <p>
        <small>
            Created by {{ review.user }} at {{ review.created | date('H:i d/m/y') -}}
            {% if review.edited %}
                {{- ', edited:' }} {{ review.edited | date('H:i d/m/y') }}
            {% endif %}
        </small>
    </p>
    {% if is_granted("ROLE_USER") and review.user.username == app.user.username or is_granted("ROLE_ADMIN") %}
        <a href="{{ path('bookrater_review_edit', {'id': review.id }) }}" class="btn btn-success">Edit</a>
        <a href="{{ path('bookrater_review_delete', {'id': review.id}) }}" class="btn btn-danger">Delete</a>
    {% endif %}
</article>